<!--blockquote class="blockquote-1">
    <p>
        {{blockquote}}
    </p>
    <cite>{{cite}}</cite>
</blockquote-->
    
<footer>

    <div id="footer">
    
        <h3>Карта сайта</h3>
        
        <div id="sitemap">
            <div class="sitemap">
                <div>
                    <a href="/">Главная</a>
                </div>
            </div>
        </div>
                      
    </div>
    
    <div id="footerMobile">
    
        
        <h3>Карта сайта</h3>
        
        <div id="sitemap">
            <div class="sitemap">
                <div>
                    <a href="/">Главная</a>
                </div>
            </div>
            </div>   
                        
        </div>
            

    </div>
    
</footer>
