<header>
    <div id="header">

        <div class="main-menu">
           <a href="https://www.spartait.ru/" target="_blank"><img style="float:left; margin-top: -18px;" src="logo.svg" height=50></a>	
		   <!--h1 style="margin-left: 15px;" class = "inline">
           <strong>МИС Олимп</strong>
           </h1-->   
           <!--button class="atuin-btn" name="CourseEnter"
            onclick="window.open('/app', '_blank');"
           > Вход в сервис</button-->   
        </div>

        <nav>
        <ul class="top-menu">
         {{#each nav}}
            {{#if visible}} 
            <li {{#if active}} 
                class="active"
                {{/if}} 
            >
            <a  {{#if isBlank}} 
                target='_blank' 
                {{/if}} 
                href={{ref}}>{{name}}</a>    
            </li>
            {{/if}} 
         {{/each}}
        </ul>
        </nav>
           
    </div>

</header>