<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    
    <title>МИС Олимп</title>
    <meta name="description" content="МИС Олимп"/>
	
    
	<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto|Merriweather &display=swap" rel="stylesheet">
	
	<link rel = "stylesheet" href = "style.css">     
    <link rel = "stylesheet" href = "contacts.css">     
    <link rel = "stylesheet" href = "blockquote.css"> 
    <link rel = "stylesheet" href = "accordion.css"> 
    <link rel = "stylesheet" href = "atuin-btn.css">     
    <link rel = "stylesheet" href = "jquery.fancybox.atuin.css"> 
	<link rel = "stylesheet" href = "owl.carousel.min.css"> 
	<link rel = "stylesheet" href = "carousel.css"> 
    <link rel="icon" href="https://misolimp.ru/favicon.ico" type="image/x-icon">
    
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->   
</head>
<body>

{{> header}}

	<div style="
	background: url(images/image.jpg) no-repeat center center;
	top: 62px;
	width: 100%;
	height: 700px;
	/*background-size:cover;	*/
	margin-top: 60px;">
	
	<!--p style="color:white">
	
	ООО "Спарта Групп" — молодая, энергичная, современная и открытая компания. Основным направлением которой является комплексная автоматизация деятельности лечебно-профилактических и аптечных учреждений, приложения для пациентов и органов управления здравоохранением.
	
	</p-->
	
	</div>
	
<div id="wrapper">    
    {{{body}}}
    
</div>
{{> footer}}

<!--div class="contact-container">
    <div class="contact">
        <div>Пишите и подписывайтесь</div>
        <span class="close-btn"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span>
        <ul>
            <li>
                <a href="https://t.me/m_enikeev" rel="nofollow" target="_blank">
                    <i class="fa fa-telegram"></i>
                </a>
            </li>
            <li>
                <a href="https://vk.com/public218332541" rel="nofollow" target="_blank">
                    <i class="fa fa-vk"></i>
                </a>
            </li>          
            <li>
                <a href="mailto:maratenikeev@yandex.ru">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li>
                <a href="tel:+79525553737">
                    <i class="fa fa-phone"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<button class="contact-btn">Контакты</button-->


<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a0414ce5b8.js" crossorigin="anonymous"></script>
<!--script src="contacts.js"></script>
<script src="accordion.js"></script>
<script src="jquery.fancybox.min.js"></script>
<script src="init.js"></script>
<script src="carousel.js"></script-->

</body>
<html>