
<section class="content">

<!--p>ООО "Спарта Групп" — молодая, энергичная, современная и открытая компания. Основным направлением которой является комплексная автоматизация деятельности лечебно-профилактических и аптечных учреждений, приложения для пациентов и органов управления здравоохранением. </p-->
<img style="float:left;
margin-top: 15px;
margin-right: 15px;"
}
" src="images/service.png" height=50>
<p>
<b>Сервис</b> для информационного взаимодействия с территориальным фондом обязательного медицинского страхования и страховыми медицинскими организациями в части взаиморасчетов за оказанную медицинскую помощь, согласно действующей редакции тарифного соглашения и регламента информационного взаимодействия региона.</p>

</section>